- ignore = ['transfer', 'income', 'rent', 'shares', 'go-savings', 'credit-card-payment']
%table
  %th Category
  %th %
  %th Amount $
  %th
    = period ? 'Average $' : 'Projected $'

  - @categories.each do |category|
    - next if ignore.include? category
    %tr
      %td
        = link_to category, "/category/#{category}"
      %td
        = category_percent(category, transactions)
      %td
        = sum_category(category, transactions)
      %td
        - if period
          = sum_category(category, transactions) / period
        - else
          = sum_category(category, transactions) * percentage_days_remaining
