- ignore = ['transfer', 'income', 'rent', 'shares', 'go-savings', 'credit-card-payment']
%table
  %th Category
  %th %
  %th Amount $
  %th
    = period ? 'Average $' : 'Projected $'
  - total = 0
  - @categories.each do |category|
    - next if ignore.include? category
    - (total += sum_category(category, transactions) / period) if period
    %tr
      %td
        = link_to category, "/category/#{category}"
      %td
        = category_percent(category, transactions)
      %td
        = sum_category(category, transactions)
      %td
        - if period
          = sum_category(category, transactions) / period
        - else
          = sum_category(category, transactions) * percentage_days_remaining

  %tr
    %td total
    %td
    %td
    %td
      = total