%h1
  = params[:category]
  in 
  = params[:date]

- @transactions.each do |day, tx_array|
  - next if tx_array.empty?
  %h3
    = day
  - tx_array.each do |tx|
    %p
      = tx.detail
    %p
      = tx.amount
  %hr